* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #43AA8B;
}

.tableau{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 80vh;
    justify-content: space-around;
     margin: auto;
    
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    left: 220px;
    animation-name: clign;
    animation-duration: 10s;
    animation-iteration-count: infinite; text-align: center;

}
@keyframes clign {
    0%{
        color: blue;
    }
    25%{
        color:red;
    }
    50% {
        color:rgb(0, 217, 255) ;
    }
    75%{
        color: rgb(255, 72, 0);
    }
    100%{
        color: rgb(4, 207, 85);
    }
    
}


/* .anim-1,
.anim-2,
.anim-3,
.anim-4,
.anim-5,
.anim-6 {
    width: 350px;
    height: 150px;
    background-color: #7BAD93;
 
    border:solid 1px #3d6952;
  
   
} */
/* 
td {
    border: solid 3px rgba(0, 0, 0, 0.455);
} */

.container {
    width: 20px;
    height: 30px;
    border-radius: 20px;
    border: solid rgba(205, 63, 63, 0.573);
    margin: auto;
    position: relative;
    top: 70px;


}

.barre {
    border-radius: 20px;
    height: 100%;
    animation-name: chargement;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    
    
 

}



@keyframes chargement {
    0% {
        width: 0%;
    }

    25% {
        width: 25%;

        background-color: red;
        opacity: 0.2;
    }

    50% {
        width: 50%;
        opacity: 0.5;
        background-color: red;
    }

    75% {
        width: 75%;
        opacity: o.8;
        background-color: red;
    }

    100% {
        width: 100%;
        opacity: 1;
        background-color: red;

    }

}
.barre:hover{
    animation-play-state: paused;
}

.container2 {
    width: 60%;
    height: 10px;
    border-radius: 20px;
    border: solid rgba(53, 109, 228, 0.427);
    margin: auto;
    position: relative;
    top: 70px;
}

.rond,
.rond2,
.rond3 {
    width: 5%;
    height: 100%;
    border-radius: 50%;
    background-color: red;
}

.rond {
    position: relative;
    animation-name: anim;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes anim {
    0% {
        left: 0%;

    }

    50% {
        left: 50%;
    }

    100% {
        left: 96%;
        opacity: 1;
    }

}

.rond2 {
    position: relative;
    animation-name: anim2;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: 3s;
    opacity: 0;
    top: -5px;
    background-color: blue;
}

@keyframes anim2 {
    0% {
        left: 0%;

    }

    50% {
        left: 50%;
    }

    100% {
        left: 96%;
        opacity: 1;
    }

}

.rond3 {
    position: relative;
    animation-name: anim3;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: 5s;
    opacity: 0;
    top: -10px;
    background-color: green;
}

@keyframes anim3 {
    0% {
        left: 0%;

    }

    50% {
        left: 50%;
    }

    100% {
        left: 96%;
        opacity: 1;
    }

}
.rond1:hover{
    animation-play-state: paused;
}
.rond2:hover{
    animation-play-state: paused;
}
.rond3:hover{
    animation-play-state: paused;
}

.cercle {
    width: 35px;
    height: 35px;
    background-color: rgba(0, 0, 255, 0);
    border-radius: 50%;
    border-top: solid 3px rgb(9, 9, 219);
    margin: auto;
    position: relative;
    top: 70px;
    
    animation-name: anim4;
    animation-iteration-count: infinite;
    animation-duration: 2s;



}

@keyframes anim4 {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
        border-top: solid 1px rgba(177, 56, 56, 0);
        transform: rotate();
        border-bottom: solid 2.5px rgb(245, 14, 14);
    }

    50% {
        transform: rotate(180deg);
        border-top: solid 2.5px rgb(9, 9, 219);
    }

    100% {

        transform: rotate(360deg);
        border-top: solid 1px rgba(177, 56, 56, 0);
        transform: rotate();
        border-bottom: solid 2.5px rgb(245, 14, 14);
    }
}
.cercle:hover{
    animation-play-state: paused;
}

.big {
    width: 80px;
    height: 80px;
    animation-name: animN;
    animation-duration: 20s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    border-radius: 50%;

    border: solid 30px rgba(0, 117, 227, 0.851);
    margin: auto;
    position: relative;
    top: 7px;


}


.carre {
    width: 100%;
    height: 100%;
    border: solid 26px rgb(82, 166, 245);
    border-left: solid 26px rgb(82, 166, 245);
    border-top: solid 26px rgba(0, 0, 255, 0.086);
    border-radius: 50%;
    position: relative;
     left: -15px;
    top: -17px;
    animation-name: animX;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;


}

@keyframes animX {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}
.carre:hover{
    animation-play-state: paused;
}

.deux {
    position: relative;
    right: -200px;
    animation-name: spin2;
    animation-duration: 600ms;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(0, 21, 255);
    top: 50px;

}

.un {

    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    animation-name: spin1;
    left: 196px;
    animation-duration: 400ms;
    animation-delay: 1s;
    animation-iteration-count: infinite;

    top: 70px;

}

@keyframes spin1 {

    0% {
        left: 196px;
    }

    50% {
        left: 170px;

    }

    100% {
        left: 210px;
    }

}
.un:hover{
    animation-play-state: paused;
}

@keyframes spin2 {

    0% {
        right: -196px;
    }

    50% {
        right: -170px;

    }

    100% {
        right: -210px;
    }

}
.deux:hover{
    animation-play-state:paused;
}

.lign{
    border-top: solid 4px rgba(0, 0, 0, 0.788);
    height: 10px;
    width: 40px;
    left: 15px;
    position: relative;
    top: 80px;
    animation-name: tourne;
    animation-duration: 400ms;
    
    animation-iteration-count:infinite ;
    margin: auto;
    animation-direction: alternate-reverse;
   
}
@keyframes tourne {
    0% {
   
    }
    50%{
        transform: rotate(360deg);
        border-top: solid 4px rgb(233, 13, 13);
       
      
    }
    100% {
        transform: rotate(360deg);
        border-top: solid 4px rgb(5, 22, 247);
        
    }
    
}
.lign:hover{

    animation-play-state:paused;
}
@media screen and (max-width:600px){
    .anim-1,
.anim-2,
.anim-3,
.anim-4,
.anim-5,
.anim-6{
  margin-top: 10px;
}
}
@media screen and (min-width:600px){
    .anim-1,
    .anim-2,
    .anim-3,
    .anim-4,
    .anim-5,
    .anim-6{
      margin-top: 10px;
    }
}

.boribory {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
    position: relative;
    /* left: 40%;
    top: 30%; */
}
.rapaka {
    width: 200px;
    height: 30px;
    background-color: rgb(0, 217, 255);
    border-radius: 20px;
    position: relative;
    /* left: 30%;
    top: 40%; */
}
/* svg {
    position: relative;
    left: 40%;
    top: 40%;
} */

.animate__animated.animate__rotateOut{
    display: inline-block;
    margin: 0 0.5rem;

    animation:rotateOut;
    animation-duration: 2s;
    animation-iteration-count: infinite;
   
}
.animate__animated.animate__headShake{
    display: inline-block;
    margin: 0 0.5rem;

    animation:headShake;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.animate__animated.animate__rubberBand{
    display: inline-block;
    margin: 0 0.5rem;

    animation:rubberBand;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.animate__animated.animate__fadeInLeft{
    display: inline-block;
    margin: 0 0.5rem;

    animation:fadeInLeft;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.animate__animated.animate__rotateOut{
    display: inline-block;
    margin: 0 0.5rem;

    animation:rotateOut;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.animate__animated.animate__backInUp{
    display: inline-block;
    margin: 0 0.5rem;

    animation:backInUp;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.animate__animated.animate__zoomOut{
    display: inline-block;
    margin: 0 0.5rem;

    animation:zoomOut;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.animate__animated.animate__zoomOutDown{
    display: inline-block;
    margin: 0 0.5rem;

    animation:zoomOutDown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.animate_animated.animate__heartBeat{
    display: inline-block;
    margin: 0 0.5rem;

    animation:heartBeat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.animate__animated.animate__flipOutX{
    display: inline-block;
    margin: 0 0.5rem;

    animation:flipOutX;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.animate__animated.animate__flipInY{
    display: inline-block;
    margin: 0 0.5rem;

    animation:flipInY;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.animate__animated.animate__flash{
    display: inline-block;
    margin: 0 0.5rem;

    animation:flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.animate__animated.animate__flip{
    display: inline-block;
    margin: 0 0.5rem;

    animation:flip;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}